@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@200;400;700&display=swap');

body {
    font-family: 'Rajdhani', sans-serif;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.first-main-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 248, 128);
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 45px;
    padding-top: 5px;
    gap: 8px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    margin-left: -40px;
    margin-right: -40px;
}

ul {
    font-size: 16px;
    display: flex;
    list-style: none;
    gap: 16px;
    margin: 0;
    padding: 8px;
    padding-left: 8px;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}
a {
    text-decoration: none;
    color: #282727;
}

.logo {
    align-self: center;
    width: 45px;
    height: auto;
}

h1 {
    font-weight: bolder;
    color: black;
    margin: 0;
    padding: 0;
}

.first-content {
    margin-top: 0;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 16px;
    flex-wrap: wrap;
}

.header-button {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    gap: 4px;
}

.main-image-container {
    align-self: center;
}

.main-img {
    background-color: rgb(128,128,128);
    max-width: 100%;
    max-height: 360px;
    align-self: auto;
}

button {
    background-color: black;
    border-radius: 6px;
    color: white;
    width: 100px;
    font-family: 'Rajdhani', sans-serif;
}

p {
    font-size: 16px;
    font-weight: 400;
    color: #282727;
}

.second-main-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-left: 40px;
    padding-right: 40px;
    justify-content: flex-start;
    align-items: center;
}

.image-container {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.sub-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sub-image {
    width: 100px;
    height: 100px;
    border-style: solid;
    border-color:black;
    border-radius: 10px;
}

.third-main-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: center;
    align-items: center;
    background-color:lightgray;
}

.quote p{
    font-size: 26px;
    font-weight: 100;
    align-self: center;
}

.quote {
    align-self: center;
}

.quotee {
    align-self: flex-end;
    
}

.quotee p {
    font-weight: 700;
}

.sub-image-container p {
    text-align: center;
}

.fourth-main-container {
    height: 100%;
    display: flex;
    background-color:white;
    padding: 25px 50px 25px 50px;
    justify-content: center;
    align-items: center;
}

.sign-up-container {
    background-color:black;
    display: flex;
    padding: 25px 50px 25px 50px;
    width: 60%;
    align-self: center;
    gap: 16px;
    color: white;
}

.content-container {
    flex-grow: 2;
}

.button-container {
    flex-grow: 1;
    align-self: center;
}

.content-container h3 {
    margin: 0;
}

.content-container p {
    margin: 0;
    color: white;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0px 0px 0px;
    background-color:   rgb(255, 248, 128);
    width: 100%;
    height: 50px;
}